.page {
  background: #ffffff;
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

.page__container {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.page__content {
  width: calc(100% - 140px);
  margin: 0 auto;
}
/* 
.page__header {
  padding-top: 18px;
} */

@media screen and (max-width: 768px) {
  .page__content {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    width: calc(100% - 36px);
  }
}
