.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 396px;
  width: 100%;
  margin-top: 70px;
}

.register__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 40px;
  padding: 0;
  box-sizing: border-box;
}

.register__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 396px;
}

.register__input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 14px;
  margin-bottom: 18px;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
}

.register__input-wrapper:last-of-type {
  border-bottom: none;
  margin-bottom: 220px;
  padding: 0;
}

.register__input {
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 20px 0 10px;
}

.register__input:first-of-type {
  margin: 0 0 10px;
}

.register__field-password {
  color: #ee3465;
}

.register__field {
  background: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 13px;
  line-height: 16px;
  box-sizing: border-box;
}

.register__field-email {
  font-weight: 500;
}

.register__form-btn {
  width: 100%;
  max-width: 396px;
  height: 45px;

  margin: 69px 0 4px;
  padding: 0;
  align-items: center;

  border: none;
  box-sizing: border-box;
  background: #2be080;
  border-radius: 3px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.register__form-btn_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  pointer-events: none;
}

.register__form-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register__signin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 70px;
}

.register__input-error {
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-top: 10px;
}

.register__link-title {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin-right: 6px;
}

.register__login-link {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2be080;
}

@media screen and (max-width: 420px) {
  .register__block {
    justify-content: center;
    align-items: center;
  }
  .register__form {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .register__block {
    justify-content: center;
    align-items: center;
  }

  .register__heading {
    margin: 48px 0 80px;
  }

  .register__form {
    max-width: 260px;
  }

  .register__form-btn {
    margin: 154px 0 4px;
    font-size: 12px;
    line-height: 15px;
  }

  .register__link-title {
    margin: 12px 6px 14px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .register__login-link {
    font-size: 12px;
    line-height: 15px;
  }
}
