.saved-moviecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.saved-moviecard__content {
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.saved-moviecard__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.saved-moviecard__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 18px;
}

.saved-moviecard__duration {
  font-size: 13px;
  line-height: 1.4;
  text-align: right;
  color: #a0a0a0;
  padding: 0;
  margin: 0 0 0 7px;
}

.saved-moviecard__link {
  transition: opacity 0.35s ease;
  width: 100%; 
}

.saved-moviecard__link:hover {
  cursor: pointer;
}

.saved-moviecard__pic {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}

.saved-moviecard__button {
  background: #f9f9f9;
  border-radius: 30px;
  width: 100px;
  height: 29px;
  margin: 18px 0;
  align-self: center;
  font-size: 12px;
  line-height: 11px;
  border: none;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
}

.saved-moviecard__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.saved-moviecard__button_type_saved {
  background: url("./../../images/icon_save.svg") no-repeat center;
  background-color: #ee3465;
  background-size: 8px;
}

.saved-moviecard__button_type_delete {
  background: url("./../../images/icon_cross.svg") no-repeat center #f9f9f9;
  border-radius: 30px;
  background-size: 7px;
}

@media screen and (max-width: 572px) {
  .saved-moviecard__title {
    font-size: 12px;
  }

  .saved-moviecard__duration {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .saved-moviecard__title {
    font-size: 15px;
  }

  .saved-moviecard__duration {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  .saved-moviecard__content {
    max-width: 300px;
    height: auto;
    margin: 0;
  }

  .saved-moviecard__title {
    font-size: 12px;
    line-height: 18px;
  }

  .saved-moviecard__duration {
    font-size: 10px;
    line-height: 180%;
  }

  .saved-moviecard__block {
    margin: 14px;
  }

  .saved-moviecard__button {
    margin: 14px 0;
  }
}
