.saved-movies-message {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  align-self: center;
  font-weight: 500;
}

.saved-movies-cardlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 140px);
  
}

.saved-cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px 28px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 0 60px 0;
}

@media screen and (max-width: 940px) {
  .saved-cards__list {
    grid-gap: 32px 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .saved-cards__list {
    grid-gap: 35px 24px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 80px;
  }

  .saved-movies-cardlist {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 500px) {
  .saved-cards__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px 0;
    margin: 0 0 85px;
  }
}

@media screen and (max-width: 320px) {
  .saved-cards__list {
    grid-template-columns: repeat(1, 300px);
    grid-gap: 16px 0;
  }
}
